*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
   
    display: flex;
    justify-content: center;
    background-color: #add8e6;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
div{
    margin: 10px 0;
}
textarea input{
    background-color: #eab6b6;
}
.logout{
  background-color: none;
  padding:0px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  /* Style for the links */
  header  a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
  }

  /* Style for the active link */
  header a.active {
    border-bottom: 2px solid #fff;
    text-decoration: none;
  }
